@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


body {
    font-family: "Roboto Slab";

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    padding-top: 50px;


}
body >header {
    box-shadow: 0 0 5px 5px black;
}


p {
    line-height: 28px;
    margin-bottom: 25px;
}

.header {
    background: url(../images/Human_back_Hands_Braid.png) no-repeat center top;
    margin: -5px auto;
    position: relative;
    height: 500px;
    margin-top: -50px

}
.header h3 {
    text-transform: uppercase;
    text-align: left;
    padding: 50px;
    font-size: 40px;
    font-weight: 800;
    color: whitesmoke;
}
.header h4 {
    text-transform: uppercase;
    text-align: right;
    padding: 20px;
    font-size: 55px;
    font-weight: 800;
    color: whitesmoke;
    word-spacing: 550px;

}
.mainikons{
    padding: 35px;
    padding-left: 190px;
    clear: both;


}
.text h2 {
    margin: 5px 0 10px -15px
}
.mainikons  h2 {
    font-size: 21px;
}
.mainna{

    margin-top: 20px;
    max-width: 1140px;
    position: relative;
    margin: 25px auto;
    border-bottom: 1px solid #333;
}
li a {
    color: darkred;

}
.mainna ul li {
    display: inline;
    padding: 120px;
    font-size: 28px;
}
a {
    color: whitesmoke;
}
a:hover {
    color: indianred;

}


.maintext {
    background: #843534;
    border-bottom: 1px solid #333;

}
.maintext h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 58px;
}
p {
    font-size: 20px;
    color: #0f0f0f;
    text-indent: 2.5em;
}
.imgdemo{
    display: none;
}
.trener{
    padding: 30px;
}
.trener img {
    width: 500px;
    height: 670px;
    padding: 25px;

}


.map{
    background: #843534;
    margin: 0 0 1em 0;
    height: 550px

}
.realmap {
    padding: 35px;
    border-right: solid 3px rgba(255, 255, 255, 0.15);
    margin-top: -20px


}
.map h3 {

    padding: 50px;
}

.contactu ul li {
    padding: 0;
    list-style: none;
}
.contactu h2 {
    font-size: 25px;
}
.ikon {
    width: 60px;
    margin: 0 70px ;
}

.footers{
    background: black;
    height: 60px;
    padding: 12px;
    color:whitesmoke;
    margin-top: -15px
}

.thumb img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0);
    border-radius:5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:5px;
}
.thumb img:hover {
    filter: initial; /* IE6-9 */
    -webkit-filter: grayscale(1);
}
.thumb {
    padding:5px;
}


.gallary{
    background: #843534;
}
.gallary img {
    margin: 5px;
    border: 3px solid firebrick;


}
s
a.gal:hover img {
    border: 3px solid transparent;


}

.fotogallery {
    margin: 20px;
}

.thecomanyin h1 {
    font-size: 45px;
    text-align: center;
    padding: 15px;
}
.price{
    background: #843534;
    width: 100%;
    margin: -30px 0 0;
}
.price h1 {
    text-align: center;
    padding: 20px;
    font-size: 45px;
}
.a {
    font-size: 17px;
}


@media screen and (max-width: 550px) {
    .header {max-width: 490px;
    margin-bottom: 80px;}
}


@media screen and (max-width: 500px) {
   .realmap {
       display: none;}
}

.contactu h2 {font-size:25px;}
@media (max-width:600px){
    .contactu h2 {font-size:20px;
   }

}

.contactu p {font-size:20px;}
@media (max-width:600px){
    .contactu p {font-size:15px;}

}
.map h1 {font-size:45px;}
@media (max-width:600px){
    .map h1 {font-size:25px;
    padding: 20px;}

}
@media screen and (max-width: 500px) {
    .map {margin: 0;
    margin-top: -100px;

    }
}

.header h3 {font-size:40px;}
@media (max-width:900px){
    .header h3 {font-size:20px;
    margin:  -30px;}

}

.header h4 {font-size:55px;}
@media (max-width:900px){
    .header h4 {font-size:25px;
        margin:  -30px;}

}

@media screen and (max-width: 500px) {
    .mainikons {margin: 0;
        margin-top: -70px;

    }
}

@media screen and (max-width: 500px) {
    .mainna {margin: 0;
        margin-left: -155px;

    }
}

.mainna ul li {font-size: 28px;}
@media (max-width:500px){
    .mainna ul li {
        font-size:10px;
        margin: -19px;
    }

}

@media screen and (max-width: 600px) {
    .price {margin: -80px 0 0;

    }
}
@media screen and (max-width: 550px) {
    .gallary {margin-top: -80px;

    }
}

